[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
sqlalchemy = "*"
alembic = "*"
gunicorn = "*"
redis = "*"
flask-sqlalchemy = "*"
flask-caching = "*"
flask-migrate = "*"
cymysql = "*"
flask-marshmallow = "*"

[requires]
python_version = "3.8"
