[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-flask = "*"
flake8 = "*"
black = "*"
isort = "*"
pytest-cov = "*"
autoflake = "*"
flask-shell-ipython = "*"

[packages]
flask = "*"
sqlalchemy = "*"
alembic = "*"
redis = "*"
flask-sqlalchemy = "*"
flask-caching = "*"
flask-migrate = "*"
cymysql = "*"
flask-marshmallow = "*"
uwsgi = "*"
protobuf = "*"
flask-log-request-id = "*"
minio = "*"
cachetools = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
